// SASS file for the index.html page

.hero-section
    .jumbotron
        padding: 150px 0
        background: url(../images/tub-hero.jpg) no-repeat center
        background-size: cover
        color: $color-white
        box-shadow: $box-shadow-small

    h1
        color: $color-white
        text-shadow: $text-shadow-primary
        font-size: 9rem
    p
        color: $color-light-blue
        text-shadow: $text-shadow-primary
        font-size: 26px


.services-home
    padding: 80px 0
    text-align: justify
    h2
        color: $color-primary
        font-weight: bold
        font-family: $font-header
        font-size: 32px
    img
        +reg-image-styles

.services .container > div:nth-child(3)
    margin-top: 60px

.big-cta
    margin-top: 80px
    color: #fff

    .jumbotron
        background-color: $color-mid-blue
        margin-bottom: 0
        box-shadow: $box-shadow-primary
        position: relative

    .btn-primary
        background-color: $color-primary
        color: #fff
        margin-top: 10px
        border: 0
        font-weight: bold
        padding: 15px 40px
        text-transform: uppercase

    a:hover
        background-color: #fff
        color: $color-primary


// Image slider section
.logo-slider
    background-color: rgba(231, 231, 231, 0.85)
    padding-top: 25px
    padding-bottom: 50px

    hr
        height: 2px
        background-color: $color-primary
        opacity: .6
        margin: 0 auto 50px auto
        max-width: 700px
        margin-bottom: 70px
    h3
        color: $color-primary
        font-weight: bold
        font-family: $font-header
        font-size: 2.2em
        opacity: .8

.logos-color-overlay
    height: 100%
    width: 100%

.logo-single-img
    background-size: contain
    background-repeat: no-repeat
    padding: 0
    margin: 0 auto

.logo1
    background-image: url(../images/lowes-logo.png)
    height: 106px
    width: 180px
    opacity: .65

.logo2
    background-image: url(../images/american-standard-logo.png)
    height: 106px
    width: 287px
    margin-top: 33px

.logo3
    background-image: url(../images/home-depot-logo.png)
    height: 106px
    width: 100px

.logo4
    background-image: url(../images/kohler-logo.png)
    height: 106px
    width: 234px
    margin-top: 20px

.intro-text-section
    img
        +reg-image-styles

// services row
.services-row
    padding-top: 45px
    padding-bottom: 10px
    img
        transition: .3s
        opacity: .85
        border: 1px solid $color-primary
    a:hover img
        box-shadow: $box-shadow-small
        transform: scale(1.05)
        transition: .3s
        opacity: 1
